<h3>{{viewTitle}}</h3>
<h6>Age Distribution</h6>
<img src="https://www.linkpicture.com/q/AgeRatio.png" alt="Mountain" style="width:300px">

<h6>Average number of friends per gender</h6>
<img src="https://www.linkpicture.com/q/genderFriends.png" type="image"></a>

<h6>Average number of friends - across generartions</h6>
<img src="https://www.linkpicture.com/q/FriendsYoungOld.png" type="image"></a>
<h6>Gender Ratio</h6>
<img src="https://www.linkpicture.com/q/GenderRatio.png" type="image"></a>

<h6>Average number of likes recieved - across generations</h6>
<img src="https://www.linkpicture.com/q/LikesYoungOld.png" type="image"></a>

<h6>Birthday month Distribution</h6>
<img src="https://www.linkpicture.com/q/dobMonth.png" type="image"></a>

